@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.mainBody {
    width: 50%;
    text-align: center;
    margin: auto;
}
.inputLabel {
    margin-top: 1.5rem;
}
h2 {
    font-weight: 600;

}
body {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: aliceblue;
    background-color: #333;
}

.copy {
    width: 25px;
    display: flex;
    right: 10px;
    bottom: 50%;
    transform: translateY(50%);
    position: absolute;
    fill: aliceblue;
}
.passwordContainer {
    position: relative;
    border: 3px solid #161010;
    min-width: fit-content;
    border-radius: 10px;
    max-width: 73%;  
    height: 2.5rem;
    margin: 1rem auto; 
    background-color: #1f1d1d;
}
#passwordGenerate {
    width: 30%;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: 3px solid #161010;
    border-radius: 10px;
    background-color: #1f1d1d;
    color: aliceblue;
}
#passwordGenerate:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Safari e Chrome */
}

#manualInput {
    border: 3px solid #161010;
    border-radius: 10px;
    background-color: #1f1d1d;
    color: aliceblue;
    font-size: 18px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    text-align: center;
    height: 30px;
}
#template {
    color: rgb(105, 212, 105);
    margin: 0;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    position: absolute;
    margin-left: 10px;
    font-size: 20px;
}